<h1>Call's history</h1>
<ul>
  <% @calls.each do |call| %>
    <li>
      <span>
        [<%= call.created_at.strftime("%Y/%m/%d %H:%M") %>]
      </span>
      <b title="<%= call.caller_number %>">
        <% if call.caller_name%>
          <%= call.caller_name %>
        <% else %>
          <%= call.caller_number %>
        <% end %>
      </b>
      <span>
        called <b title="<%= call.company_number.sip_endpoint %>"><%= call.company_number.name %></b>.
      </span>
      <span>
        The call was
        <% unless call.respondent == nil %>
          answered by <b><%= call.respondent.name %></b> on <b title="<%= call.respondent_number.sip_endpoint %>"><%= call.respondent_number.name %></b>
        <% else %>
          not connected.
          <% if call.record_url %>
            <a href="<%= call.record_url %>">Listen the record</a>.
          <% end %>
        <% end %>
      </span>
    </li>
  <% end %>
</ul>
